/*keep the change things*/
:root {
    --c-divider-light: #e2e8f0;
    --c-divider-dark: rgba(84, 84, 88, 0.48);

    --c-brand: #333; /*  don't forget change the --tag-bg for tags */
    --c-brand-light: #333;

    --font-family-base: 'PingFang SC', 'Microsoft Yahei', sans-serif;
    --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

    --header-height: 3.6rem;
    --code-bg-color: #52525b;

    /* pure theme color */
    --li-dot-color: #737373;
    --title-color: #334155;
    --date-color: #64748b;
    --date-font-family: Georgia, sans-serif;
    --tag-bg: #eff6ff;
}

/*theme reset*/
a:link {
    text-decoration: none;
}
h1 {
    font-size: 2rem;
    font-weight: 500;
}
h2 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: inherit;
}
h3 {
    font-size: 1.3rem;
}
.container {
    max-width: 58rem !important;
}
/* pc + mobile start */
.sidebar-links {
    padding: 0.5rem 0;
}
.sidebar > .sidebar-links > .sidebar-link + .sidebar-link {
    padding-top: 0;
}
.sidebar > .sidebar-links > .sidebar-link > .sidebar-link-item {
    font-size: 0.875rem;
    padding: 0.1rem 0 0.1rem 1.2rem;
}
.sidebar > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-link-item {
    font-size: 0.875rem;
    padding: 0.2rem 1.5rem 0.2rem 2rem;
}
/* pc + mobile end */

/*tags and archives page style*/
.article {
    padding: 4px 0 4px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-o {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--li-dot-color);
}
.title {
    color: var(--title-color);
    font-size: 0.9375rem;
}
.title:hover {
    color: var(--c-brand);
}
.date {
    color: var(--date-color);
    font-family: var(--date-font-family);
}
/*mobile*/
@media screen and (max-width: 720px) {
    .sidebar-button {
        left: 0.5rem;
    }
    .page {
        min-height: calc(100vh - 3rem);
    }
    h1 {
        font-size: 1.25rem;
    }
    .container {
        padding: 0 1.3rem !important;
    }
    .article {
        padding: 4px;
    }
    .title-o {
        margin-right: 4px;
    }
    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 17em;
    }
}
/*pc -  adjust the header and sidebar's position */
@media screen and (min-width: 720px) {
    :root {
        --header-height: 5rem !important;
    }
    .VPNavBarTitle {
        font-size: 2rem !important;
        padding-left: 180px;
        letter-spacing: -1px;
        font-weight: 500 !important;
        font-family: Optima, sans-serif !important;
    }

    .VPNav .content-nav .nav-links,
    .VPNav .nav-links {
        padding-right: 180px !important;
    }
    .nav-link .item,
    .VPNavBarMenuLink {
        font-weight: 600;
    }

    .page,
    .VPContent {
        margin-left: 0 !important;
        min-height: calc(100vh - 5rem);
    }

    .sidebar,
    .VPSidebar {
        left: auto !important;
        right: 1rem !important;
        border-right: none !important;
        padding-top: 4rem !important;
        width: 14rem !important;
    }
    .sidebar > .sidebar-links,
    .VPSidebar .curtain .content {
        border-left: 1px solid var(--c-divider-light);
    }
    .sidebar-link-item,
    .VPSidebarItem {
        border-left-width: 1px;
        margin-left: -1px;
    }
}

.dark .nav-bar {
    border-bottom: none;
}

.dark {
    --c-divider: #666;
    --c-divider-light: #333;
    --c-text: var(--c-text-dark-1);
    --c-text-light: var(--c-text-dark-2);
    --c-text-lighter: var(--c-text-dark-3);
    --c-bg: var(--c-white);
    --c-bg-accent: var(--c-white-light);
    --code-font-family: var(--font-family-mono);
    --code-inline-bg-color: rgba(27, 31, 35, 0.05);
    --code-bg-color: #282c34;
    --c-white: var(--c-black);
    --c-white-dark: #f8f8f8;
    --c-black: #1a1a1a;
    --c-text-light-1: #2c3e50;
    --c-text-light-2: #476582;
    --c-text-light-3: #90a4b7;

    --c-text-dark-1: #fff;
    --c-text-dark-2: #607385;
    --c-text-dark-3: #445666;
    --c-brand: #3eaf7c;
    --c-brand-light: #4abf8a;
    --date-color: #fff;
    --title-color: #3eaf7c;
    --tag-bg: #fff;

    --docsearch-searchbox-focus-background: #242424;
    --docsearch-container-background: rgba(101, 108, 133, 0.8);
    --docsearch-modal-background: #242424;
    --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5), 0 3px 8px 0 #555a64;
    --docsearch-searchbox-background: #ebedf0;
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-hit-color: #444950;
    --docsearch-hit-active-color: #333;
    --docsearch-hit-background: #333;
    --docsearch-hit-shadow: 0 1px 3px 0 #d4d9e1;
    --docsearch-key-gradient: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #333, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
    --docsearch-footer-background: #333;
    --docsearch-footer-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, 0.12);
}

.dark tr:nth-child(2n) {
    background-color: #2a2a2a;
}

.dark .DocSearch {
    --docsearch-primary-color: var(--c-brand);
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-text-color: var(--c-text-light);
    --docsearch-muted-color: var(--c-text-lighter);
    --docsearch-searchbox-background: #333;
}

.dark .DocSearch-Button:hover {
    box-shadow: var(--docsearch-searchbox-shadow);
    color: var(--docsearch-text-color);
    outline: none;
}

.dark .custom-block.details,
.dark .custom-block.info,
.dark .custom-block.tip {
    background-color: #2f2f2f;
}

.dark .custom-block.warning {
    background-color: #ffe56436;
    color: #ccc18c;
}

.dark .custom-block.danger {
    background-color: #6e4f4fd2;
    color: #f5d3d3;
}

.dark .custom-block.danger .custom-block-title {
    color: #f6b9b9;
}

.dark .describe {
    color: #fff;
}

.dark .tag {
    color: #35a69b;
    border: 1px solid #35a69b;
    background-color: transparent;
}

.dark .token.tag {
    border: none;
}

.dark .tag strong {
    color: #5aa1c3;
}

.dark code {
    color: #cf9999;
}

.dark iframe .text-link {
    color: #fff;
}

.dark h2 {
    color: #bcb137;
}

.dark h3 {
    color: #8ebc6e;
}

.dark h4 {
    color: #3eaf7c;
}

.dark .vitepress {
    color: #3eaf7c;
}

/* Document links styling */
.vp-doc a {
    color: #3eaf7c;
}

.vp-doc a:hover {
    color: #4abf8a;
}
